# Virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Python packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp